In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [2]:
#File to load
file_to_load = "Car_sales_Data/car_data.csv"

# Read Purchasing File and store into Pandas data frame
car_data_df = pd.read_csv(file_to_load)
car_data_df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
0,Acura,Honda,40000,"36,385","37,382","39,046","44,572","28,531","27,458","39,664","25,681"
1,Alfa Romeo,Fiat,50000,"4,286","4,751","4,310","4,947","3,702","3,735","5,056",0
2,Audi,Audi,59017,"48,115","53,325","57,031","65,640","41,371","34,839","47,896",0
3,Bentley,VW,211000,2385,2385,2385,0,2499,2499,2499,0
4,BMW,BMW,69000,"73,888","82,551","75,987","92,399","62,152","50,956","68,439",0
5,Bugatti,VW,2400000,21,21,21,NaN,19,19,19,NaN
6,Buick,GM,33000,"51,865","55,373","50,614","49,074","33,870","35,521","49,170",0
7,Cadillac,GM,54000,"35,996","39,739","39,962","40,553","30,323","23,297","32,966",0
8,Chevrolet,GM,33000,"451,742","486,884","505,913","497,500","429,529","330,381","449,134",0
9,Chrysler,Fiat,32000,"31,591","32,831","29,544","33,006","29,945","13,857","31,869",0
10,Dodge,Fiat,29000,"110,517","117,582","104,146","90,643","88,656","43,756","71,935",0
11,Ferrari,Ferrari,300000,"2,585","2,585","2,585",NaN,"2,147","2,147","2,147",NaN
12,Fiat,Fiat,26000,"2,214","2,889","2,361","1,740","1,128","1,339","1,102",0
13,Ford,Ford,32000,"557,884","613,098","548,070","565,373","489,051","411,035","521,530","312,199"
14,Genesis,Hyundai,49000,"4,203","5,805","4,902","6,327","3,955","3,585","3,745","1,989"
15,GMC,GM,35000,"125,579","151,701","140,790","146,880","118,718","101,759","132,746",0
16,Honda,Honda,28000,"333,402","370,026","390,168","357,389","270,253","266,044","338,769","203,920"
17,Hyundai,Hyundai,30000,"147,585","185,743","173,028","182,415","130,875","139,378","170,828","112,566"
18,Infiniti,Nissan,45000,"34,315","28,743","24,876","29,774","25,556","16,097","17,368",0
19,Jaguar,TaTa,52000,"10,222","6,060","6,150","8,573","7,266","4,320","4,700",0
20,Jeep,Fiat,30000,"212,804","243,477","245,474","221,537","182,667","176,713","222,211",0
21,Kia,Kia,30000,"136,596","168,248","158,754","151,015","137,945","125,302","165,013","103,981"
22,Lamborghini,Audi,300000,"2,172","2,172","2,172",NaN,"1,877","1,877","1,877",NaN
23,Land Rover,TaTa,59000,"25,028","21,095","20,516","28,097","21,936","14,500","15,899",0
24,Lexus,Toyota,56000,"66,791","68,944","73,816","88,561","56,345","50,458","75,285","54,731"
25,Lincoln,Ford,52000,"24,874","25,941","27,937","33,355","25,562","21,280","27,555","18,437"
26,Maserati,Fiat,80000,6433,6433,6433,6433,3967,3967,3967,0
27,Mazda,Mazda,25000,"70,831","67,722","69,612","70,385","67,670","61,199","74,411","44,488"
28,McLaren,McLaren,250000,1102,1102,1102,0,299,299,299,0
29,Mercedes-Benz,Daimler,58000,"78,667","80,463","89,636","103,363","75,265","69,505","84,628",0
30,Mini,BMW,28000,"8,905","8,678","10,243","8,339","5,236","5,288","8,974",0
31,Mitsubishi,Mitsubishi,22000,"42,070","29,030","24,474","25,475","35,563","12,197","24,857",0
32,Nissan,Nissan,30000,"331,536","322,442","302,478","271,517","232,048","161,317","221,754",0
33,Porsche,Porsche,73000,"15,024","15,233","14,805","16,506","11,984","12,193","15,548",0
34,Ram,Fiat,34000,"137,013","196,155","179,200","190,655","140,486","127,682","175,174",0
35,Subaru,Subaru,31000,"156,754","182,771","185,804","174,788","130,591","136,519","169,446","111,824"
36,Tesla,Tesla,60000,"30,600","53,300","54,700","56,525","52,800","36,800","139,300",0
37,Toyota,Toyota,34000,"476,925","539,448","553,378","515,455","439,402","347,571","483,164","356,383"
38,Volkswagen,VW,30000,"85,872","98,736","93,547","85,167","75,065","69,933","84,514",0
39,Volvo,Volvo,50000,"22,058","28,062","27,305","30,802","19,485","23,770","30,349","22,282"

In [3]:
#Remove column Q4 2019 & Q4 2020 as Quarter 4 data was not fully published at the time of the project.
drop_col=['Q4 2019', 'Q4 2020']
car_data_df = car_data_df.drop(drop_col, axis=1)
car_data_df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020
0,Acura,Honda,40000,"36,385","37,382","39,046","28,531","27,458","39,664"
1,Alfa Romeo,Fiat,50000,"4,286","4,751","4,310","3,702","3,735","5,056"
2,Audi,Audi,59017,"48,115","53,325","57,031","41,371","34,839","47,896"
3,Bentley,VW,211000,2385,2385,2385,2499,2499,2499
4,BMW,BMW,69000,"73,888","82,551","75,987","62,152","50,956","68,439"
5,Bugatti,VW,2400000,21,21,21,19,19,19
6,Buick,GM,33000,"51,865","55,373","50,614","33,870","35,521","49,170"
7,Cadillac,GM,54000,"35,996","39,739","39,962","30,323","23,297","32,966"
8,Chevrolet,GM,33000,"451,742","486,884","505,913","429,529","330,381","449,134"
9,Chrysler,Fiat,32000,"31,591","32,831","29,544","29,945","13,857","31,869"
10,Dodge,Fiat,29000,"110,517","117,582","104,146","88,656","43,756","71,935"
11,Ferrari,Ferrari,300000,"2,585","2,585","2,585","2,147","2,147","2,147"
12,Fiat,Fiat,26000,"2,214","2,889","2,361","1,128","1,339","1,102"
13,Ford,Ford,32000,"557,884","613,098","548,070","489,051","411,035","521,530"
14,Genesis,Hyundai,49000,"4,203","5,805","4,902","3,955","3,585","3,745"
15,GMC,GM,35000,"125,579","151,701","140,790","118,718","101,759","132,746"
16,Honda,Honda,28000,"333,402","370,026","390,168","270,253","266,044","338,769"
17,Hyundai,Hyundai,30000,"147,585","185,743","173,028","130,875","139,378","170,828"
18,Infiniti,Nissan,45000,"34,315","28,743","24,876","25,556","16,097","17,368"
19,Jaguar,TaTa,52000,"10,222","6,060","6,150","7,266","4,320","4,700"
20,Jeep,Fiat,30000,"212,804","243,477","245,474","182,667","176,713","222,211"
21,Kia,Kia,30000,"136,596","168,248","158,754","137,945","125,302","165,013"
22,Lamborghini,Audi,300000,"2,172","2,172","2,172","1,877","1,877","1,877"
23,Land Rover,TaTa,59000,"25,028","21,095","20,516","21,936","14,500","15,899"
24,Lexus,Toyota,56000,"66,791","68,944","73,816","56,345","50,458","75,285"
25,Lincoln,Ford,52000,"24,874","25,941","27,937","25,562","21,280","27,555"
26,Maserati,Fiat,80000,6433,6433,6433,3967,3967,3967
27,Mazda,Mazda,25000,"70,831","67,722","69,612","67,670","61,199","74,411"
28,McLaren,McLaren,250000,1102,1102,1102,299,299,299
29,Mercedes-Benz,Daimler,58000,"78,667","80,463","89,636","75,265","69,505","84,628"
30,Mini,BMW,28000,"8,905","8,678","10,243","5,236","5,288","8,974"
31,Mitsubishi,Mitsubishi,22000,"42,070","29,030","24,474","35,563","12,197","24,857"
32,Nissan,Nissan,30000,"331,536","322,442","302,478","232,048","161,317","221,754"
33,Porsche,Porsche,73000,"15,024","15,233","14,805","11,984","12,193","15,548"
34,Ram,Fiat,34000,"137,013","196,155","179,200","140,486","127,682","175,174"
35,Subaru,Subaru,31000,"156,754","182,771","185,804","130,591","136,519","169,446"
36,Tesla,Tesla,60000,"30,600","53,300","54,700","52,800","36,800","139,300"
37,Toyota,Toyota,34000,"476,925","539,448","553,378","439,402","347,571","483,164"
38,Volkswagen,VW,30000,"85,872","98,736","93,547","75,065","69,933","84,514"
39,Volvo,Volvo,50000,"22,058","28,062","27,305","19,485","23,770","30,349"

In [4]:
#Autogroup and Avg Price was not needed for the analysis as the focus is solely on quarterly sales.
drop_col=['Autogroup', 'Avg Price']
car_data_df = car_data_df.drop(drop_col, axis=1)
car_data_df

            Brand  Q1 2019  Q2 2019  Q3 2019  Q1 2020  Q2 2020  Q3 2020
0           Acura   36,385   37,382   39,046   28,531   27,458   39,664
1      Alfa Romeo    4,286    4,751    4,310    3,702    3,735    5,056
2            Audi   48,115   53,325   57,031   41,371   34,839   47,896
3         Bentley     2385     2385     2385     2499     2499     2499
4             BMW   73,888   82,551   75,987   62,152   50,956   68,439
5         Bugatti       21       21       21       19       19       19
6           Buick   51,865   55,373   50,614   33,870   35,521   49,170
7        Cadillac   35,996   39,739   39,962   30,323   23,297   32,966
8       Chevrolet  451,742  486,884  505,913  429,529  330,381  449,134
9        Chrysler   31,591   32,831   29,544   29,945   13,857   31,869
10          Dodge  110,517  117,582  104,146   88,656   43,756   71,935
11        Ferrari    2,585    2,585    2,585    2,147    2,147    2,147
12           Fiat    2,214    2,889    2,361    1,128    1,339    1,102
13           Ford  557,884  613,098  548,070  489,051  411,035  521,530
14        Genesis    4,203    5,805    4,902    3,955    3,585    3,745
15            GMC  125,579  151,701  140,790  118,718  101,759  132,746
16          Honda  333,402  370,026  390,168  270,253  266,044  338,769
17        Hyundai  147,585  185,743  173,028  130,875  139,378  170,828
18       Infiniti   34,315   28,743   24,876   25,556   16,097   17,368
19         Jaguar   10,222    6,060    6,150    7,266    4,320    4,700
20           Jeep  212,804  243,477  245,474  182,667  176,713  222,211
21            Kia  136,596  168,248  158,754  137,945  125,302  165,013
22    Lamborghini    2,172    2,172    2,172    1,877    1,877    1,877
23     Land Rover   25,028   21,095   20,516   21,936   14,500   15,899
24          Lexus   66,791   68,944   73,816   56,345   50,458   75,285
25        Lincoln   24,874   25,941   27,937   25,562   21,280   27,555
26       Maserati     6433     6433     6433     3967     3967     3967
27          Mazda   70,831   67,722   69,612   67,670   61,199   74,411
28        McLaren     1102     1102     1102      299      299      299
29  Mercedes-Benz   78,667   80,463   89,636   75,265   69,505   84,628
30           Mini    8,905    8,678   10,243    5,236    5,288    8,974
31     Mitsubishi   42,070   29,030   24,474   35,563   12,197   24,857
32         Nissan  331,536  322,442  302,478  232,048  161,317  221,754
33        Porsche   15,024   15,233   14,805   11,984   12,193   15,548
34            Ram  137,013  196,155  179,200  140,486  127,682  175,174
35         Subaru  156,754  182,771  185,804  130,591  136,519  169,446
36          Tesla   30,600   53,300   54,700   52,800   36,800  139,300
37         Toyota  476,925  539,448  553,378  439,402  347,571  483,164
38     Volkswagen   85,872   98,736   93,547   75,065   69,933   84,514
39          Volvo   22,058   28,062   27,305   19,485   23,770   30,349

In [5]:
car_data_df.dtypes

Brand      object
Q1 2019    object
Q2 2019    object
Q3 2019    object
Q1 2020    object
Q2 2020    object
Q3 2020    object
dtype: object